body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2127px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2127px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1056px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:40px;
  width:319px;
  height:180px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:180px;
}
#u3 {
  position:absolute;
  left:2px;
  top:82px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:2px;
  top:436px;
  width:318px;
  height:110px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:110px;
}
#u5 {
  position:absolute;
  left:2px;
  top:47px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:2px;
  top:546px;
  width:318px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:682px;
  width:318px;
  height:109px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:109px;
}
#u9 {
  position:absolute;
  left:2px;
  top:46px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2px;
  top:827px;
  width:318px;
  height:109px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:109px;
}
#u11 {
  position:absolute;
  left:2px;
  top:46px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2px;
  top:974px;
  width:318px;
  height:123px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:123px;
}
#u13 {
  position:absolute;
  left:2px;
  top:54px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:1097px;
  width:98px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:64px;
  top:1269px;
  width:236px;
  height:71px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:71px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:1880px;
  width:318px;
  height:86px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:86px;
}
#u19 {
  position:absolute;
  left:2px;
  top:35px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:1976px;
  width:320px;
  height:84px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:84px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:270px;
  top:0px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:2060px;
  width:318px;
  height:67px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:67px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:13px;
  top:6px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:59px;
  top:1140px;
  width:191px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:12px;
  top:1140px;
  width:47px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:450px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:70px;
  top:559px;
  width:180px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:2px;
  top:450px;
  width:68px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:2px;
  top:556px;
  width:68px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:59px;
  top:693px;
  width:130px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:12px;
  top:693px;
  width:47px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
