body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:80px;
  width:640px;
  height:1561px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1561px;
}
#u1 {
  position:absolute;
  left:2px;
  top:772px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:396px;
  width:640px;
  height:234px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:234px;
}
#u5 {
  position:absolute;
  left:2px;
  top:109px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:660px;
  width:640px;
  height:283px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:283px;
}
#u7 {
  position:absolute;
  left:2px;
  top:134px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:970px;
  width:640px;
  height:240px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:240px;
}
#u9 {
  position:absolute;
  left:2px;
  top:112px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:1233px;
  width:640px;
  height:237px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:237px;
}
#u11 {
  position:absolute;
  left:2px;
  top:110px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:540px;
  top:0px;
  width:100px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:80px;
  width:640px;
  height:290px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:290px;
}
#u17 {
  position:absolute;
  left:2px;
  top:137px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
