body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:80px;
  width:640px;
  height:1842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:913px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:1800px;
  width:620px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:530px;
  top:0px;
  width:110px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
