body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:80px;
  width:640px;
  height:2099px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:2099px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1042px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:540px;
  top:0px;
  width:100px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:80px;
  width:640px;
  height:360px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u9 {
  position:absolute;
  left:2px;
  top:172px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:560px;
  width:640px;
  height:368px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:368px;
}
#u11 {
  position:absolute;
  left:2px;
  top:176px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:1060px;
  width:640px;
  height:354px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:354px;
}
#u13 {
  position:absolute;
  left:2px;
  top:169px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:7px;
  top:1414px;
  width:195px;
  height:59px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:59px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:13px;
  top:928px;
  width:196px;
  height:39px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:1560px;
  width:640px;
  height:360px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u19 {
  position:absolute;
  left:2px;
  top:172px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
