body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:80px;
  width:640px;
  height:986px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:986px;
}
#u1 {
  position:absolute;
  left:2px;
  top:485px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:540px;
  top:0px;
  width:100px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:510px;
  top:242px;
  width:100px;
  height:70px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:510px;
  top:410px;
  width:100px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
